{{ include('risk/_delete_risk_confirmation.html.twig') }}
<form action="{{ url('risk_delete', {id: risk.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-lg btn-block btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{ 'action.delete_risk'|trans }}
    </button>
</form>

