{% extends 'message/layout.html.twig' %}

{% block body_id 'message_show' %}

{% block main %}
    <h1>{{ message.title }}</h1>
    {{ message.description|md2html }}

{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('message/_delete_form.html.twig', {message: message}, with_context = false) }}
    </div>

    {{ parent() }}


{% endblock %}
